
 @media (max-width: 575.98px) { 
    section div img {
        width: 300px;
    }
  }
 @media (min-width: 575.98px) { 
    section div img {
        width: 350px;
    }
  }


@media (min-width: 767.98px) { 
    section div img {
    width: 400px;
}}


@media (min-width: 991.98px) { 
    section div img {
        width: 450px;
    }
 }



